{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'cargoloading/generate.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<div class="wrapper">

  <div class="text-wrapper">
    <h2>Fill up the required parameters:</h2>
  </div>

  <form method="POST">
    {% csrf_token %}
    <div class="label-wrapper">
      <div class="form-labels">
        <label>No. of box: </label>
        </br>
        {{form.num_box}}
      </div>
      </br>

      <div class="form-labels">
        <label>Cargo Type: </label>
        </br>
        {{form.cargo_type}}
      </div>
      </br>

      <div class="form-labels">
        <label>Type of vehicle: </label>
        </br>
        {{form.capacity}}
      </div>
      </br>

      <div class="form-labels">
        <label>Initial Rate: </label>
        </br>
        {{form.ini_rate}}
      </div>
    </div>

    <div class="button-wrapper">
      <div class="button-spacing">
        <button type="submit">Submit</button>
      </div>
      <div class="button-spacing">
        <button type="reset">Clear</button>
      </div>
    </div>
 
  </form>

  <div class="upload-button">
    <button id="btn"><i class="fa fa-file-excel-o"></i>  Upload a file</button>
  </div>
  
</div>

<div id="dialog" class="modal">
    <div class="csv-wrapper">

      <i id="close" class="fa fa-times-circle"></i>

      <div class="text-wrapper">
        <h2>File Upload:</h2>
      </div>
    
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Upload a csv file:</label>
        {{csv.csvFile}}
        <br>
        <br>
        <label>Cargo Type:</label>
        {{csv.cargo_type}}
        <br>
        <br>
        <label>Type of vehicle:</label>
        {{csv.capacity}}
        <br>
        <br>
        <label>Initial Rate:</label>
        {{csv.ini_rate}}
    
        <div class="button-wrapper">
          <div class="b-space">
            <button type="submit">Upload</button>
          </div>
          <div class="b-space">
            <button type="reset">Reset</button>
          </div>
        </div>
      </form>

      <div class="sample-format">
        <h4>Sample CSV format: </h4>
        <img src="{% static 'cargoloading/images/sample-file.JPG' %}" alt="sample_csv">
      </div>

    </div>
</div>

<div class="error-message">
  <p>{{error}}</p>
</div>

<script>
  // Get the modal
  var modal = document.getElementById("dialog");
  
  // Get the button that opens the modal
  var btn = document.getElementById("btn");
  
  // Get the <span> element that closes the modal
  var e = document.getElementById("close");
  
  // When the user clicks on the button, open the modal
  btn.onclick = function() {
    modal.style.display = "block";
  }
  
  e.onclick = function() {
    modal.style.display = "none";
  }
  
</script>

{% endblock content %}